/******************************
GENERAL
******************************/

* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrap {
    min-height: 100%;  
    margin-bottom: -100px;
}
.wrap:after {
    content: "";
    display: block;
}
.main_footer, .wrap:after {
    height: 100px; 
}
a {
    text-decoration: none;
}
.wrap {
    max-width: 90%;
    margin: 0 auto;
}
/******************************
PAGE: Log in
******************************/
.wrap {
    padding: 15px 10px 0 10px;
    margin: 0 auto;   
}
.logo {
    display: block;
    max-width: 90%;
    margin: 20px auto;
}
.login_wrap, .signup_wrap {
    padding-top: 40px;
}
.signup_wrap {
    opacity: 0;
    display: none;
}
.input-group {
    margin: 10px 0;
}
.btn {
    margin: 20px 0;
}
.main_footer {
    background-color: #428BCA;
    width: 100%;
    padding-top: 15px;
    text-align: center;
}
.main_footer i {
    font-size: 2.5em;
    margin: 10px 15px;
 }   
.main_footer p {
    font-size: 0.9em;
    color: #fff;
    text-align: center;
}
/******************************
PAGE: Home
******************************/
.menu_open {
    font-size: 3em;
}
.home_logo {
    width: 210px;
    float: right;
    margin: 0;
}
.smaras {
    margin-top: 20px;
}
#my-menu ul:first-child{
    margin-bot: 50px;
}
/*****************************
PAGE: Feedback
*******************************/

  
/******************************
PAGE: Support
******************************/
.wrap p {
    font-size: 20px;
    font-style: italic;
    color: #428BCA;
    margin: 20px auto;
}
/******************************
PAGE: Settings
******************************/
.settings_wrap {
    padding-top: 25px;
}