/******************************
GENERAL
******************************/

* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrap {
    min-height: 100%;  
    margin-bottom: -100px; 
}
.wrap:after {
    content: "";
    display: block;
}
.main_footer, .wrap:after {
    height: 100px; 
}
.main_footer {
    background: orange;
}
a {
    text-decoration: none;
}
.wrap {
    max-width: 90%;
    margin: 0 auto;
}
/******************************
PAGE: Log in
******************************/
.wrap {
    max-width: 360px;
    padding: 0 10px;
    margin: 0 auto;
}
.logo {
    display: block;
    max-width: 90%;
    margin: 20px auto;
}
.login_wrap, .signup_wrap {
    padding-top: 60px;
}
.signup_wrap {
    opacity: 0;
    display: none;
}
.input-group {
    margin: 10px 0;
}
.btn {
    margin: 20px 0;
}
.main_footer {
    background-color: #428BCA;
    width: 100%;
    padding-top: 15px;
    text-align: center;
}
.main_footer i {
    font-size: 2.5em;
    margin: 10px 15px;
 }   
.main_footer p {
    font-size: 0.9em;
    color: #fff;
    text-align: center;
}
/******************************
PAGE: Feedback
******************************/
